pre .cm-m-qda {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 120%;
  width: 55em;
  text-align: justify;
  line-height: 1.5;
  color: #444;
}


/* QDA STUFF -------------------------------------- */


span.cm-markup {
  color: #aaa;
}

span.cm-string {
  color: #008d5c;
}

span.cm-unordered-list {
  color: #888;
/*  font-weight: bold;*/
}
span.cm-hr {
  color: #e88501;
}
span.cm-strong {
  font-weight: bold;
/*  color: #008d5c;*/
}
span.cm-em {
  font-style: italic;
/*  font-weight: bold;*/
  color: #008d5c
}
span.cm-quote {
  border-left: 10px solid #eee;
  padding: 0 20px;
  margin-left: 20px;
  display: block;
}
span.cm-strikethrough {
  color: #aaa;
  text-decoration: line-through;
}
span.cm-citation {
  color: #ff3da5;
}
span.cm-hashtag {
  color: #666;
  font-weight: normal;
  padding: 2px 5px 3px;
  border-radius: 5px;
  background: #eee;
  font-size:100%;
}
span.cm-header-1 {
  color: #446fbd;
  font-size: 200%;
}
span.cm-header-2 {
  color: #446fbd;
  font-size: 150%;
}
span.cm-header-3 {
  color: #446fbd;
  font-size: 120%;
}
span.cm-figure-title, span.cm-table-title {
  color: #008d5c;
  font-weight: bold;
}

/*
*** COLOURS ***
GREEN: #008d5c
DARKGREEN: #6d8600
BLUE: #446fbd
PINK: #ff3da5
ORANGE: #e88501
PURPLE: ##8757ad
*/
